
.animated.ng-enter,
.animated.ng-leave
{
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
}

.animated.ng-enter.animated.ng-enter-active,
.animated.ng-leave {
    -webkit-animation-name: bounceIn;
}

.animated.ng-leave.animated.ng-leave-active,
.animated.ng-enter {
    -webkit-animation-name: bounceOutDown;
}

.selectIdbm {
  -webkit-animation-name: swing;
}

.animated.ng-hide {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
}

.animated.ng-hide-add.ng-hide-add-active {
  -webkit-animation-name: bounceOut;
}

.animated.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation-name: bounceIn;

}
